<div class="button-inside">
    <div class="row">
        <div class="button-small">
            <div class="red circle"></div>
        </div>
        <div class="button-small">
            <div class="blue circle"></div>
        </div>
        <div class="button-small">
            <div class="green circle"></div>
        </div>
    </div>
    <div class="row">
        <div class="button-small">
            <div class="yellow circle"></div>
        </div>
        <div class="button-small">
            <div class="orange circle"></div>
        </div>
        <div class="button-small">
            <div class="purple circle"></div>
        </div>
    </div>
    <div class="row">
        <div class="button-small">
            <div class="purple circle"></div>
        </div>
        <div class="button-small">
            <div class="purple circle"></div>
        </div>
        <div class="button-small">
            <div class="purple circle"></div>
        </div>
    </div>
</div>
