<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN"
    "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">

<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en">
<head>
    <title>
        A Simple Web App
    </title>
    <link rel="stylesheet" type="text/css"
            href="static/stylesheets/style.css"/>
    <script src="includes/jquery.js"></script>
</head>
<body>
    <div id="container">
        <div class="row">
            <div id="lights" class="button">
                <img src="static/images/glyphicons-65-lightbulb.png" />
            </div>
            <div id="tv" class="button">
                <img src="static/images/glyphicons-87-display.png" />
            </div>
            <div id="white" class="button">
                <div class="white circle"></div>
            </div>
        </div>
        <div class="row">
            <div id="strobe" class="strobe button">
            </div>
            <div id="fade" class=" fade button">
            </div>
            <div id="bpm" class="bpm button">
            </div>
        </div>
        <div class="row">
            <div id="red" class="button">
                <div class="red circle"></div>
            </div>
            <div id="green" class="button">
                <div class="green circle"></div>
            </div>
            <div id="blue" class="button">
                <div class="blue circle"></div>
            </div>
        </div>
        <div class="row">
            <div id="dark-red" class="button">
                <div class="dark-red circle"></div>
            </div>
            <div id="light-green" class="button">
                <div class="light-green circle"></div>
            </div>
            <div id="light-blue" class="button">
                <div class="light-blue circle"></div>
            </div>
        </div>
        <div class="row">
            <div id="darkest-red" class="button">
                <div class="darkest-red circle"></div>
            </div>
            <div id="lightest-green" class="button">
                <div class="lightest-green circle"></div>
            </div>
            <div id="dark-blue" class="button">
                <div class="dark-blue circle"></div>
            </div>
        </div>
        <div class="row">
            <div id="orange" class="button">
                <div class="orange circle"></div>
            </div>
            <div id="blue-green" class="button">
                <div class="blue-green circle"></div>
            </div>
            <div id="purple" class="button">
                <div class="purple circle"></div>
            </div>
        </div>
        <div class="row">
            <div id="yellow" class="button">
                <div class="yellow circle"></div>
            </div>
            <div id="turquoise" class="button">
                <div class="turquoise circle"></div>
            </div>
            <div id="pink" class="button">
                <div class="pink circle"></div>
            </div>
        </div>
        <input id="user_command" type="text" />
        <p id="info">Information about commands will go down here!</p>
    </div>
    <script src="static/javascript/click.js"></script>
</body>
</html>
